@using BabyInABagServer.Models
@model IEnumerable<Product>

@{
    ViewBag.Title = "Products";
}

<!-- product Section -->
<div class="w3-container w3-padding-32" id="contact" style="text-align:center;">
    <button id="buttoncustomize" data-toggle="modal" data-target=".bootstrapmodal">@Html.ActionLink("Create Custom Blanket", "CustomizeProduct", "Products", null, new { style = "text-decoration:none; " })</button>
    <div class="modal fade bootstrapmodal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 style="text-align:center;">Select a Product to Customize</h2>
                </div>
                <div class="modal-body" style="text-align:center;">
                    @foreach (var item in ViewBag.data)
                    {
                        String name = item.Product_Category;
                        <button id="modalbutton">@Html.ActionLink(name, "CustomizeProduct", "Products", new { id = item.Product_Category_Id }, new { style = "text-decoration:none;" })</button>
                    }
                </div>
            </div>
        </div>
    </div>
    <div>
        


        @foreach (var item in Model)
        {
            
            if (item.Active == true)
            {
            <div id="productDiv" class="w3-panel w3-border w3-round-xlarge">

                <div class="w3-row">
                    <div class="w3-col w3-container m4 l3 ">
                        <img id="image1" src="@item.Product_Image" alt="@item.Product_Image">
                    </div>
                    <div class="w3-col w3-container m8 l9">
                        <h2>@Html.DisplayFor(modelItem => item.Product_Name)</h2>
                        <p>@Html.DisplayFor(modelItem => item.Product_Description)</p>
                        <div id="pright">
                            <h4 id="cprice">@Html.DisplayFor(modelItem => item.Product_Price)</h4>
                        </div>
                        <h2>Quantity</h2>
                        <div class="col-lg-2">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus" data-field="">
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </button>
                                </span>
                                <input style="width:9%;" type="number" id="quantity" name="quantity" class="form-control input-number" value="1" min="1" max="10">
                                <span class="input-group-btn">
                                    <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <button id="buttoncart">@Html.ActionLink("Add to Cart", "AddToCart", "Products", new { id = item.Product_Id, quantity = 2 }, new { style = "text-decoration:none;" })</button>

                    </div>
                </div>
            </div>
            }
        }
    </div>

</div>

<script>

    $(document).ready(function () {

        var quantitiy = 0;
        $('.quantity-right-plus').click(function (e) {

            // Stop acting like a button
            e.preventDefault();
            // Get the field name
            var quantity = parseInt($('#quantity').val());

            // If is not undefined

            $('#quantity').val(quantity + 1);


            // Increment

        });

        $('.quantity-left-minus').click(function (e) {
            // Stop acting like a button
            e.preventDefault();
            // Get the field name
            var quantity = parseInt($('#quantity').val());

            // If is not undefined

            // Increment
            if (quantity > 0) {
                $('#quantity').val(quantity - 1);
            }
        });

    });
</script>