@using BabyInABagServer.Models
@model IEnumerable<Product>

@{
    ViewBag.Title = "Products";
}

<!-- product Section -->
<div class="w3-container w3-padding-32" id="contact">
    <button id="buttoncustomize">@Html.ActionLink("Create Custom Blanket", "CustomizeProduct", "Products", null, new { style = "text-decoration:none; " })</button>
    <div>
        @foreach (var item in Model)
        {
            <div id="productDiv" class="w3-panel w3-border w3-round-xlarge">

                <div class="w3-row">
                    <div class="w3-col w3-container m4 l3 ">
                        <img id="image1" src="@item.Product_Image" alt="@item.Product_Image">
                    </div>
                    <div class="w3-col w3-container m8 l9">
                        <h2>@Html.DisplayFor(modelItem => item.Product_Name)</h2>
                        <p>@Html.DisplayFor(modelItem => item.Product_Description)</p>
                        <div id="pright">
                            <h4 id="cprice">@Html.DisplayFor(modelItem => item.Product_Price)</h4>
                        </div>
                        <button id="buttoncart">@Html.ActionLink("Add to Cart", "AddToCart", "Products", new { id = item.Product_Id }, new { style = "text-decoration:none;" })</button>

                    </div>
                </div>
            </div>
        }
    </div>

</div>
@*<script>
    function change()
    {
        document.getElementById("buttoncart").innerHTML = "Added to Cart";
        setTimeout(2000);
        document.getElementById("buttoncart").innerHTML = "Add to Cart";
    }
</script>*@

