@using BabyInABagServer.Models
@model IEnumerable<Product>

@{
    ViewBag.Title = "Products";
}

<!-- product Section -->
<div class="w3-container w3-padding-32" id="contact" style="text-align:center;">
    <button id="buttoncustomize" data-toggle="modal" data-target=".bootstrapmodal">Create Custom Product</button>
    <div class="modal fade bootstrapmodal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 style="text-align:center;">Select a Product to Customize</h2>
                </div>
                <div class="modal-body" style="text-align:center;">
                    @foreach (var item in ViewBag.data)
                    {
                        String name = item.Product_Category;
                        <button id="modalbutton">@Html.ActionLink(name, "CustomizeProduct", "Products", new { id = item.Product_Category_Id }, new { style = "text-decoration:none;" })</button>
                    }
                </div>
            </div>
        </div>
    </div>
    <div>
        @foreach (var item in Model)
        {
            if (item.Active == true)
            {
                using (Html.BeginForm("AddToCart", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                 
                    <div class="w3-col w3-container m4 l3 ">
                        <img id="image1" src="@item.Product_Image" alt="@item.Product_Image">
                    </div>
                    <input name="pid" value="@item.Product_Id" type="hidden"/>
                    <select name="quantity">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>

                    <input type="submit" value="Add To Cart" class="btn btn-default" style="font-size:20px;width:20%;" />
                }
            }
        }
    </div>
</div>
